.login {
    background-color: #c2383d;
}

.logo {
    background-image: url('../../assets/imgs/bomb-logo.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
